<div class="bg-light me-md-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
  <div class="my-3 p-3">
    <h2 class="display-5">Ask</h2>
    <p class="lead">Create a Sell Order.</p>
  </div>
  <div class="bg-primary shadow-sm mx-auto order-form-box">
    <div class="pt-3 text-light">
      <span>AUD Balance: 123456.78</span>
    </div>
    <form class="p-3">
      <div class="row mb-1">
        <div class="col-lg-6">
          <label for="quantity" class="form-label text-light">Quantity</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">AUD</span>
            <input type="text" class="form-control" id="quantity">
          </div>
        </div>
        <div class="col-lg-6">
          <label for="price" class="form-label text-light">Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text">BTC</span>
            <input type="text" class="form-control" id="price">
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-6">
          <label for="total" class="form-label text-light">Total</label>
          <div class="input-group mb-3">
            <span class="input-group-text">BTC</span>
            <input type="text" class="form-control" id="total">
          </div>
        </div>
        <div class="col-lg-6">
          <label for="fee" class="form-label text-light">Fee</label>
          <div class="input-group mb-3">
            <span class="input-group-text">BTC</span>
            <input type="text" class="form-control" id="fee">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <button type="submit" class="btn btn-light">Place Order</button>
        </div>
      </div>
    </form>
  </div>
</div>