<div class="bg-primary me-md-3 px-3 pt-md-3 px-md-5 text-center text-white overflow-hidden">
  <div class="my-3 py-3">
    <h2 class="display-5">Bid</h2>
    <p class="lead">Create a Buy Order.</p>
  </div>
  <div class="bg-light shadow-sm mx-auto order-form-box">
    <div class="pt-3 text-primary">
      <span>BTC Balance: 1.2345678</span>
    </div>
    <form class="p-3">
      <div class="row mb-1">
        <div class="col-lg-6">
          <label for="quantity" class="form-label text-primary">Quantity</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">BTC</span>
            <input type="text" class="form-control" id="quantity">
          </div>
        </div>
        <div class="col-lg-6">
          <label for="price" class="form-label text-primary">Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text">AUD</span>
            <input type="text" class="form-control" id="price">
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-6">
          <label for="total" class="form-label text-primary">Total</label>
          <div class="input-group mb-3">
            <span class="input-group-text">AUD</span>
            <input type="text" class="form-control" id="total">
          </div>
        </div>
        <div class="col-lg-6">
          <label for="fee" class="form-label text-primary">Fee</label>
          <div class="input-group mb-3">
            <span class="input-group-text">AUD</span>
            <input type="text" class="form-control" id="fee">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Place Order</button>
        </div>
      </div>
    </form>
  </div>
</div>