<div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center text-white overflow-hidden">
  <h5 class="text-primary">Buy Orders</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">58502.10</th>
        <td>0.11932</td>
        <td>6,980.47057</td>
      </tr>
      <tr>
        <th scope="row">58490.00</th>
        <td>0.10000</td>
        <td>5,849.00000</td>
      </tr>
      <tr>
        <th scope="row">58482.25</th>
        <td>0.04726</td>
        <td>2,763.87114</td>
      </tr>
    </tbody>
  </table>
</div>