<div class="bg-primary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
  <h5 class="text-light">Sell Orders</h5>
  <table class="table table-hover table-responsive table-light">
    <thead>
      <tr>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">58561.78</th>
        <td>0.11970</td>
        <td>7,009.84507</td>
      </tr>
      <tr>
        <th scope="row">58561.79</th>
        <td>0.04000</td>
        <td>2,342.47160</td>
      </tr>
      <tr>
        <th scope="row">58564.91</th>
        <td>0.07392</td>
        <td>4,329.11815</td>
      </tr>
    </tbody>
  </table>
</div>