<div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center text-white overflow-hidden">
  <h5 class="text-primary">Transaction History</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Sell</th>
        <td>58,731.50</td>
        <td>0.00135</td>
        <td>22:28:46</td>
      </tr>
      <tr>
        <th scope="row">Sell</th>
        <td>58,660.00</td>
        <td>0.10000</td>
        <td>22:28:09</td>
      </tr>
      <tr>
        <th scope="row">Buy</th>
        <td>58,616.11</td>
        <td>0.00001</td>
        <td>22:27:39</td>
      </tr>
      <tr>
        <th scope="row">Buy</th>
        <td>58,616.11</td>
        <td>0.00146</td>
        <td>22:27:39</td>
      </tr>
      <tr>
        <th scope="row">Buy</th>
        <td>58,623.02</td>
        <td>0.01705</td>
        <td>22:26:33</td>
      </tr>
    </tbody>
  </table>
</div>